.container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 25px;
}

.title {
  .titleFont(90px);
  color: @titleColorMain;
}

.mark {
  color: @titleColorMark;
}

.title-wrap {
  padding-left: 80px;
}

.button-wrap {
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  button {
    width: 220px;
    margin: 8px 0;
  }
}
