@transition: 250ms;

@colorDecor: #E3FA04;
@colorMain: #151515;
@colorMainLigth: #151515;

@bgColorMain: @colorMain;

@textColorMain: @colorDecor;

@paddingHeader: 25px;

.titleFont(@fontSize) {
  font-family: 'Abril Fatface', cursive;
  font-size: @fontSize;
  text-shadow: 0 0 (@fontSize / 3) #000;
}
